
aside{
	height:300px;
	width:200px;
}

aside img {
	border: #000 1px solid;
}


pre {
	padding: 0px;
	padding: 10px 8px;
	margin-bottom: 20px;
	background: #444;
	border: 1px solid black;
	color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-family: monospace, sans-serif;
}